* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(153, 221, 238);
}

button {
    font-size: 1.5rem;
}
.total{
    display: grid;
    max-width: 1000px;
}

.title {
    padding: 10px 10px 10px 20px;
    justify-self: center;
    color: rgb(185, 0, 0);
}
.dish {
    display: flex;
    background-color: lightpink;
    border: rgb(153, 221, 238) solid 5px;
}

.menubar {
    justify-content: center;
    align-items: center;
    justify-self: center;
}

.dishtitle {
    padding: 10px 10px 10px 20px;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    justify-self: center;
}

.description {
    padding: 10px;
}

.price{
    font-size: 2rem;
    padding: 10px;
}

.image {
    border: darkgrey solid 5px;
    height: 200px;
    width: 200px;
}
.menulist {
    justify-content: center;
}

@media (max-width: 600px) {

.dish {
    flex-wrap: wrap;
    justify-content: center;
    border: darkgreen solid 5px;

}
.title{
    text-align: center;
}

}